body {
    display: flex;
    justify-content: center;
    background-color:  rgb(231, 230, 230);
}

ul {
    list-style-type: none;
}

header {
    position: fixed;
    top: 0;
    left: 0;
}

.header {
    position: relative;
    width: 1500px;
    height: 200px;
    overflow: hidden;
    background-color: rgb(231, 230, 230);
}

.page-top {
    display: flex;
    height: 150px;
    width: 50%;
}

.top-navigation {
    margin: 0;
    padding: 0.6em;
    overflow: hidden;
}

#top-navigation a {
    float: left;
    display: block;
    text-align: center;
    padding: 0;
    margin-left: 225px;
    font-size: 28px;
    color: blueviolet;
    text-decoration: none;
}

#bottom-navigation a {
    float: left;
    display: block;
    text-align: center;
    padding: 0;
    margin-left: 225px;
    font-size: 28px;
    color: blueviolet;
    text-decoration: none;
}

li a:hover {
    opacity: 40%;
}

.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer {
    position: relative;
    width: 1500px;
    height: 100px;
    overflow: hidden;
    background-color: rgb(231, 230, 230);
}

.bottom-navigation {
    list-style-type: none;
    margin: 0;
    padding: 0.6em;
    overflow: hidden;
}

.body {
    position: relative;
    margin-top: 200px;
    overflow:visible;
}

h1 {
    position: absolute;
    top: 40px;
    right: 110px;
    margin: 0;
    color: rgb(71, 136, 201);
    font-size: 45px;
    text-align: center;
}

.top-container {
    position: flex;
}

/*The above code is for each page. Below this code will be for home.html*/

.him {
    display: flex;
    height: 300px;
    width: 50%;
    float: left;
}

h2 {
    display: flex;
}

.interests {
    display: flex;
    padding: 1em;
    float: right;
    border: solid black 1px;
}

p {
    color: blueviolet;
    font-size: xx-large;
}
